div.left-col.menu-col
	ul.main-menu
		- var i = 0
		each item in locals.menu.items
			if locals.menu.indexCurrent === i
				li.current
					a(href= item.href)= item.title
			else
				li
					a(href= item.href)= item.title
			- i++	