include includes/init.pug
doctype
html(lang="ru")
	head
		include includes/head_common.pug
		link(type="text/css", rel="stylesheet", href="/css/gallery_albums_all.css")

		<!-- lightbox (Magnific popup) -->	
		link(type="text/css", rel="stylesheet", href="/lib/magnific_popup/magnific_popup.css")
		script(src="/lib/magnific_popup/magnific_popup.js")

		script(src="/js/gallery_albums_one.js")
	body
		include includes/header.pug
		div.gallery.content.clearfix
			h2= title
			div.breadcrumbs
				- for (var i=0, len=locals.breadcrumbs.length; i<len; i++)
					a(href= locals.breadcrumbs[i].href)= locals.breadcrumbs[i].title
					if i < len-1
						span= ' > '
			if locals.photos.length === 0 
				p(style="text-align:left; font-size: 18px;") Нет фотографий
			ul.image-container
				
				-
					const maxw = 240;
					const maxh = 180;

				each photo in locals.photos
					-
						var largePhotoLink = '';
						if (photo.src_xxbig) {
							largePhotoLink = photo.src_xxbig;
						} else if (photo.src_xbig) {
							largePhotoLink = photo.src_xbig;
						} else {
							largePhotoLink = photo.src_big;
						}


						var neww = 0;
						var newh = 0;					
						var k = 1;

						// fit photos with proportions saved (note: shrink only)

						if (photo.width > photo.height) {
							k = photo.width / maxw;
							neww = maxw;
							newh = Math.trunc(photo.height / k);
						} else {
							k = photo.height / maxh;
							neww = Math.trunc(photo.width / k);
							newh = maxh;
						}

						
						var marginLeft = '0';
						var marginTop = '0';

						// center photos

						if (photo.width > photo.height) {
							marginTop = (maxh - newh) / 2 + 'px';
						} else {
							marginLeft = (maxw - neww) / 2 + 'px';
						}		
					li
						div.cover
							a.photo-link(href= largePhotoLink)
								img(src= photo.src_big, alt= photo.text, width= neww, height= newh, style="margin-left: " + marginLeft + "; margin-top: " + marginTop)
					- i++;
		include includes/footer.pug
		include includes/analytics.pug