include includes/init.pug
doctype
html(lang="ru")
	head
		include includes/head_common.pug
		
		<!-- aslider -->
		link(rel="stylesheet", type="text/css", href="/lib/aslider/aslider.css")
		script(src="/lib/aslider/aslider.js")

		link(rel="stylesheet", type="text/css", href="/css/homepage.css")
		script(src="/js/homepage.js")
	body
		include includes/navbar.pug
		div#home.home.content 
			div.title
				div.part1 Академия
				div.part2 робототехники
				div.part3 "ОПТИМУС"
			div.slideshow
				div.aslider(data-hide-mute, data-hide-pause)
					each item in locals.slideshow
						-
							var largePhotoLink = '';
								if (item.src_xxxbig) {
									largePhotoLink = item.src_xxxbig;
								} else if (item.src_xxbig) {
									largePhotoLink = item.src_xxbig;
								} else if (item.src_xbig) {
									largePhotoLink = item.src_xbig;
								} else {
									largePhotoLink = item.src_big;
								}
						div.aslide(data-duration="4")
							img(src= largePhotoLink)
		include includes/analytics.pug