include includes/init.pug
doctype
html(lang="ru")
	head
		include includes/head_common.pug
		
		<!-- bslider -->
		link(rel="stylesheet", type="text/css", href="/lib/bslider/bslider.css")
		script(src="/lib/bslider/bslider.js")

		link(rel="stylesheet", type="text/css", href="/css/homepage.css")
		script(src="/js/homepage.js")

		<!-- recaptcha -->
		script(src='https://www.google.com/recaptcha/api.js')
	body
		include includes/header.pug
		section.slideshow
			div.content
				div.glow
				div.slideshow
					div.bslider(data-hide-mute, data-hide-pause)
						each item in locals.slideshow
							-
								var largePhotoLink = '';
									if (item.src_xxbig) {
										largePhotoLink = item.src_xxbig;
									} else if (item.src_xbig) {
										largePhotoLink = item.src_xbig;
									} else {
										largePhotoLink = item.src_big;
									}
							div.bslide(data-duration="4")
								img(src= largePhotoLink)
		section.gap-1
		section.feature-row.frow-1
			div.content
				div.feature-col
					h3 
						a(href="/photos") Галерея
					div.caption Наши фото
					div.picture
						img(src="/img/features/news.jpg")
					div.feature-text Здесь собраны самые лучшие фотоотчеты с наших мероприятий
					button#btn-gallery.picture-button.pb-more
				div.feature-col
					h3 
						a(href="/about") О Нас
					div.caption Наши цели
					div.picture
						img(src="/img/features/about_us.jpg")
					div.feature-text Робототехника является одним из наиболее популярных направлений технического творчества, как профессиональной инженерной среды, так и образовательной
					button#btn-about.picture-button.pb-more
				div.feature-col
					h3 
						a(href="/schedule") Расписание
					div.caption Успей записаться
					div.picture
						img(src="/img/features/schedule.jpg")
					div.feature-text Расписание занятий и актуальные цены
					button#btn-schedule.picture-button.pb-more
		section.feature-row.frow-2
			div.content
				div.feature-col
					h3 Связаться с нами
					input#sm-name(type="text", placeholder="Ваше имя")
					input#sm-email(type="text", placeholder="Ваш e-mail")
					textarea#sm-text(placeholder="Текст сообщения", style="height: 75px")
					button#btn-sendmessage.picture-button.pb-sendmessage
				div.feature-col
					h3 Мы в социальных сетях
					div.caption Подписывайтесь
					include includes/social_networks.pug
					//- h3
					//- div.caption Поиск по нашему сайту
					//- input#search(type="text", placeholder="Что ищем?")
					//- button#btn-search.picture-button.pb-search
				div.feature-col
					h3 Наши партнеры
					a(href="https://vk.com/lenincka")
						img(src="/img/central_library.jpg", style="width: 120px") 	
		div#popup-window
			div.popup-layout
				div.popup-container.popup-container-medium
					div.popup-header
						div.popup-close закрыть
					div.popup-content 
						form.clearfix
							div.g-recaptcha(data-sitekey="6Lf6rQ8UAAAAAHeN1O2CbPiGXY3_MXiD0JxYJGO3")
							button#recaptcha-test.picture-button.pb-captcha
		include includes/footer.pug
		include includes/analytics.pug