include includes/init.pug
doctype
html(lang="ru")
	head
		include includes/head_common.pug
		link(rel="stylesheet", type="text/css", href="/css/contacts.css")
		
	body
		div.container
			include includes/navbar.pug
			div.contacts.content
				h2 Наши партнеры
				img(src="/img/central_library.jpg")
		include includes/analytics.pug