include includes/init.pug
doctype
html(lang="ru")
	head
		include includes/head_common.pug
		link(rel="stylesheet", type="text/css", href="/css/prices.css")
		
	body
		div.container
			include includes/navbar.pug
			div.prices.content
				h2 Стоимость обучения
				div!= locals.pricesOnce.html
		include includes/analytics.pug