include includes/init.pug
doctype
html(lang="ru")
	head
		include includes/head_common.pug
		link(rel="stylesheet", type="text/css", href="/css/schedule.css")
		
	body
		div.container
			include includes/navbar.pug
			div.schedule.content
				h2 Расписание занятий
				div.table-responsive
					table.table.table-bordered
						tr
							td Время
							td Понедельник
							td Вторник
							td Среда
							td Четверг
							td Пятница
							td Суббота
							td Воскресенье
						tr
							td 9.00
							td Младшая группа&nbsp;3
							td 
							td
							td
							td Младшая группа&nbsp;3
							td 
							td Младшая группа&nbsp;4
						tr
							td 11.30
							td 
							td 
							td
							td
							td 
							td Идет набор
							td 	
						tr
							td 13.30
							td 
							td
							td
							td
							td 
							td Младшая группа&nbsp;2
							td 
						tr
							td 15.45
							td 
							td 
							td
							td
							td 
							td Группа
							td
						tr
							td 18.00
							td 
							td Старшая группа&nbsp;1
							td
							td 
							td 
							td.gray 
							td.gray
		include includes/analytics.pug