include includes/init.pug
doctype
html(lang="ru")
	head
		include includes/head_common.pug
		link(rel="stylesheet", type="text/css", href="/css/schedule.css")
		
	body
		div.container
			include includes/navbar.pug
			div.schedule.content
				h2 Расписание занятий
				div.table-responsive
					table.table.table-bordered
						tr
							td Понедельник
							td Вторник
							td Пятница
							td Суббота
							td Воскресенье
						tr
							td(style="background: #4bacc6") 
								div.time 9.00-10.30
								div.text Младшая группа (Идет&nbsp;набор)
							td
							td(style="background: #4bacc6")
								div.time 9.00-10.30
								div.text Младшая группа (Идет&nbsp;набор)
							td
							td(style="background: #b2a1c7") 
								div.time 9.00-10.30
								div.text Младшая группа (Идет&nbsp;набор)
						tr
							td
							td
							td
							td(style="background: #ccc0d9") 
								div.time 11.00-12.30
								div.text Младшая группа (Идет&nbsp;набор)
							td

						tr
							td
							td 
							td 
							td(style="background: #b2a1c7") 
								div.time 13.30-15.00
								div.text Младшая группа
							td
						tr
							td(style="background: #31849b") 
								div.time 15.45-17.15
								div.text Младшая группа (Идет&nbsp;набор)
							td 
							td 
							td(style="background: #9bbb59")
								div.time 15.45-17.15
								div.text Старшая группа
							td
						tr
							td 
							td(style="background: #fabf8f")
								div.time 18.00-19.30
								div.text Старшая группа 
							td(style="background: #fabf8f")
								div.time 18.00-19.30
								div.text Старшая группа (Идет&nbsp;набор)
							td(style="background: #76923c")
								div.time 17.30-19.00
								div.text Старшая группа (Идет&nbsp;набор)
							td 
		include includes/analytics.pug