include includes/init.pug
doctype
html(lang="ru")
	head
		include includes/head_common.pug
		link(rel="stylesheet", type="text/css", href="/css/schedule.css")
		
	body
		div.container
			include includes/navbar.pug
			div.schedule
				h2 Расписание занятий
				div.table-responsive
					table.table.table-bordered
						tr
							td Время
							td Понедельник
							td Вторник
							td Среда
							td Четверг
							td Пятница
							td Суббота
							td Воскресенье
						tr
							td 9.00
							td Младшая группа 3
							td 
							td
							td
							td Младшая группа 3
							td 
							td Младшая группа 4
						tr
							td 10.40
							td 
							td 
							td
							td
							td 
							td 
							td 	
						tr
							td 14.00
							td 
							td Младшая группа 4
							td
							td Младшая группа 5
							td 
							td Младшая группа 2
							td Младшая группа 2
						tr
							td 15.40
							td 
							td 
							td
							td
							td 
							td 
							td
						tr
							td 18.00
							td 
							td Старшая группа 1
							td
							td 
							td Старшая группа 1
							td.gray 
							td.gray
		include includes/analytics.pug