.about {
	text-align: justify;
}

.about img {
    border-radius: 5px;
}

.about img[align=left] {
	margin-right: 20px;
}

.about img[align=right] {
	margin-left: 20px;
}

.about .photo {
	width: 372px;
	float: left;
	margin-right: 10px;
}

.about .photo:last-child {
	margin-right: 0;
}

table.text {
	border: none;
}

table.text>tbody>tr>td {
	border: none;
	padding: 0;
}