.video-container {
	list-style-type: none;
    margin: 20px 0 0 -19px;
	padding: 0;
}

.video-container li {
	float: left;
	width: 300px;
	margin-left: 19px;
	margin-bottom: 25px;
}

.video-container li img {
	
}

.video-container .cover {
    position: relative;
    width: 300px;
    height: 180px;
    background: #666767;
    border-bottom: 1px solid #666767;
}

.video-container .album {
    position: relative;
    box-shadow: none;
}

.video-container div.title {
    width: 300px;
    height: 16px;
    text-align: center;
    word-wrap: break-word;
    font-size: 12px;
    color: #555;
    overflow: visible;
    margin-top: 3px;
}

.video-container a.title,
.video-container a.title:link,
.video-container a.title:hover,
.video-container a.title:active,
.video-container a.title:visited {
	text-decoration: none;
	font-size: 12px;
}

.video-container a.title:hover {
	color: #11719e;
	text-decoration: underline;
}

.breadcrumbs {
	margin-bottom: 10px;
}

.breadcrumbs a,
.breadcrumbs a:link,
.breadcrumbs a:hover,
.breadcrumbs a:active,
.breadcrumbs a:visited {
	color: blue;
}

.breadcrumbs a:hover {
	color: blue;
}

.cover-frame-left, .cover-frame-right {
	background: url(../img/video-frame-vertical.png) repeat-y;
	width: 28px;
	height: 180px;
	position: absolute;
	top: 0;
}

.cover-frame-left {
	left: 0;
}

.cover-frame-right {
	right: 0;
}

.cover-play-icon {
	background: 0px -39px url(../img/video.png) no-repeat;
	width: 54px;
	height: 54px;
	position: absolute;
	left: 133px;
	top: 63px;
}

p.copyright {
    color: #666;
}