/* html, body */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 14px;
  color: #111;
}

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #11719e;
  font-weight: bold;
}

h2 {
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 20px;
}

h3 {
    margin-bottom: 8px;
}

/* LISTS */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  float: left;
}

/* LINKS */
a,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: #666;    
}

a:hover {
  text-decoration: underline;
}

/* ICONS */
.sw-icon {
  float: left;
  margin-right: 3px;
  width: 32px;
  height: 32px;
  background: url(../img/social.png);
}

.i-vk {
  background-position: -34px 0; 
}

.i-ok {
  background-position: -68px 0; 
}

.i-facebook {
  background-position: 0 0; 
}

.picture-button {
  float: left;
  margin-right: 3px;
  width: 163px;
  height: 36px;
  background: url('../img/buttons.png');
  border: none;
  cursor: pointer;
}

.pb-more {
  background-position: 0 0;
}

.pb-search {
    height: 32px;
    background-position: -166px 0;
}

.pb-sendmessage {
    height: 32px;
    background-position: -332px 0;
}

.pb-tutorial {
    height: 32px;
    background-position: -497px 0;
}

.pb-captcha {
    height: 32px;
    background-position: -165px -76px;
}

.pb-more-disabled {
    background-position: 0 -37px;
    cursor: default;
}

.pb-search-disabled {
    height: 32px;
    background-position: -166px -38px;
    cursor: default;
}

.pb-sendmessage-disabled {
    height: 32px;
    background-position: -332px -38px;
    cursor: default;
}

.pb-tutorial-disabled {
    height: 32px;
    background-position: -497px -38px;
    cursor: default;
}

.pb-captcha-disabled {
    height: 32px;
    background-position: -166px -113px;
}

/* TABLES */
table {
  border-spacing: 0;
    border-collapse: collapse;
}

td, th {
    padding: 5px;
    border: 1px solid #333;
}

th {
  color: blue;
  font-weight: bold;
}

/* FORMS */
input[type=text], textarea {
    width: 90%;
    border: 1px solid #ccc;
    padding: 5px;
    font: normal 14px monospace;
}

input[type=text]:focus, textarea:focus {
    border: 1px solid #ccc;
    outline: none;
}

/* CLEARFIX */
.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

/* SCROLLING*/
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/* POPUP */
#popup-window {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(255,255,255,0.95);
}

.popup-layout {
    position: fixed;
    width: 100%;
}

.popup-container {
    margin: 100px auto 50px auto;
}

.popup-header {
    height: 30px;
    background: #11719e;
    border-radius: 5px 5px 0 0;
}

.popup-content {
    background: lightgray;
    padding: 20px;
    text-align: center;
    overflow: auto;
}

.popup-close {
    height: 20px;
    color: #fff;
    background: #0a5c82;
    font-size: 14px;
    padding: 5px 15px;
    float: right;
    border-radius: 0 5px 0 0;
}

.popup-close:hover {
    cursor: pointer;
}

.popup-container-small {
  width: 300px;  
}

.popup-container-medium {
  width: 500px;  
}

.popup-container-large {
  width: 800px;  
}

.popup-container-small .popup-content {
    min-height: 50px;
}

.popup-container-medium .popup-content {
    min-height: 100px;
}

.popup-container-large .popup-content {
    min-height: 300px;
}

.p-scroll {
  overflow: scroll;
}

.popup-content h3 {
    color: #11719e;
    text-align: left;
}

.popup-content p {
    color: #111;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

.popup-content .text-full {
    font-size: 14px;
    color: #555;
}


/***************
*** SECTIONS ***
***************/

.content {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.container {
    margin-bottom: 30px;
    min-height: 300px;
    background: #fff;
    position: relative;
}

.shadow-transparent {
    width: 677px;
    height: 84px;
    position: absolute;
    z-index: 1;
    left: 406px;
    top: 98px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 98%);
}

/* HEADER */
header {
    height: 162px;
    background: linear-gradient(to bottom, #d5d5d5 0%, #e9e9e9 10%, #f5f5f5 15%, #fefefe 25%, #fff 33%);
}

header .content {
    height: 162px;
}

.gear {
    position: absolute;
    left: 237px;
    top: -275px;
    width: 842px;
    height: 726px;
    background: url(../img/gear.png);
}

img.logo {
    position: absolute;
    left: 0;
    top: 6px;
}

ul.top-menu {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50px;
}

ul.top-menu a, ul.top-menu a:link, ul.top-menu a:hover, ul.top-menu a:active, ul.top-menu a:visited {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

ul.top-menu li {
    margin-right: 20px;
}

ul.top-menu li:last-child {
    margin-right: 0;
}

ul.top-menu .caption {
    font: 11px Arial, sans-serif;
    color: #fff;
    margin-left: 1px;
}

/* FOOTER */
footer {
  height: 172px;
  background: #333;
  border-top: 10px solid #4c4c4c;
}

footer .copyright {
    float: right;
    margin: 20px 30px 0 0;
    color: #999;
    font-size: 11px;
}

footer .design-info {
    float: left;
    margin: 20px 0 0 0;
    width: 250px;
    color: #999;
}

/* SOCIAL NETWORK SHARING*/
.sharing {
    float: left;
    clear: both;
    margin-top: 20px;
    line-height: 24px;
    color: #999;
}

span.share42-item {
    opacity: 0.8;
}

span.share42-item:hover {
    opacity: 1;
}

/* PAGINATION */
ul.pagination {
    margin: 0 auto;
    text-align: center;
    font: 14px Arial, sans-serif;
    color: #11719e;
}

ul.pagination li {
    display: inline-block;
    float: none;
    cursor: pointer;
}

ul.pagination li.current {
    color: #111;
    cursor: default;
}

ul.pagination li.num {
    font-size: 20px;
}