/* G E N E R A L  S T Y L E S */
html, body {
  height: 100%;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  /*color: #fff;*/
  color: #555;
}
body {
  /*background: url('../img/space.jpg') repeat;*/
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  /*color: #fff729;*/
  color: blue;
  font-weight: bold;
  line-height: 1.3em;
}
h2 {
  margin-bottom: 20px;
}

h3 {
    margin-bottom: 8px;
}


span.highlight {
  color: #fff729;
  text-shadow: 1px -1px 1px #fff, 1px 1px 1px #fff, -1px 1px 1px #fff, -1px -1px 1px #fff; 
}
span.highlight2 {
 /* color: #fff729; */
 color: blue;
}
span.highlight3 {
  font-style: italic;
  font-weight: bold; 
}

/* WARN GOVNOSTYLE*/
.about.content img {
    border-radius: 10px;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background: lightseagreen;
    border-radius: 5px;
    position: absolute;
    right: 30px;
    top: 45px;
}

.navbar-default .navbar-brand {
    padding: 12px 20px;
    font: bold 26px Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    color: #19dbd0;
    text-shadow: 1px -1px 1px black, 1px 1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
}


.navbar-default {
    background: linear-gradient(to bottom, gray 0%, #fff 95%, #000 100%);
    border: none;
    height: 90px;
}

.navbar-default .navbar-nav>li>a {
    font: 15px Arial, Helvetica, sans-serif;
    color: #555;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #19dbd0;
    background-color: transparent;
}

@media (min-width: 768px) {
  .navbar-nav>li>a {
      padding-top: 9px;
      padding-bottom: 9px;
  }
}

.content {
  margin-top: 20px;
}

.about img {
    border-radius: 5px;
}

.social-web {
    height: 32px;
    position: absolute;
    right: 15px;
    top: 5px;
}

.sw-icon {
  float: left;
  margin-right: 3px;
  width: 32px;
  height: 32px;
  background: url(../img/social.png);
}

.i-vk {
  background-position: -34px 0; 
}

.i-ok {
  background-position: -68px 0; 
}

.i-facebook {
  background-position: 0 0; 
}