.navbar-default {
    background: gray;
    border: none;
}

.navbar-default .navbar-brand {
    padding: 12px 20px;
    font: bold 26px Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    color: yellow;
    text-shadow: none;
}