@media(max-width: 768px) {
	#home {
		height: 600px;
	}
	#services {
		padding-top: 25px;
	}
	#services .content {
		margin-top: 30px;
	}
	#portfolio .col-xs-6:last-child {
		width: 100%;
		margin-bottom: 50px;
	}
}