.news section {
	margin-bottom: 40px;
}

.news section:last-child {
	margin-bottom: 0;
}

.news-date {
    display: inline-block;
    background: gray;
    color: #fff;
    padding: 1px;
}

h3.news-link, span.news-link {
    cursor: pointer;
}

span.news-link {
    font-size: 14px;
    color: darkblue;
    text-decoration: none;
    padding-left:10px;
}

span.news-link:hover {
    color: blue;
    text-decoration: underline;
}

.news {
    text-align: justify;
}

.image-container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    list-style-type: none;
}

.image-container li {
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
}