.ui-widget-header {
    border: none;
    background: transparent;
}

.ui-widget-content {
    border: none;
    background: transparent;
    color: #999;
}

#tabs {
    margin-top: 50px;
}

.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: .2em .2em 0;
    position: absolute;
    left: -6px;
    top: -58px;
}

/*.ui-tabs .ui-tabs-nav li {
    border-bottom-width: 1px;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background: transparent;
    color: white;
}*/

.news section {
	margin-bottom: 40px;
}

.news section:last-child {
	margin-bottom: 0;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: white;
    text-shadow: 1px 1px gray;
    text-decoration: none;
}

.news-date {
    display: inline-block;
    background: gray;
    color: #fff;
    padding: 1px;
}

h3.news-link, span.news-link {
    cursor: pointer;
}

span.news-link {
    font-size: 14px;
    color: darkblue;
    text-decoration: none;
    padding-left:10px;
}

span.news-link:hover {
    color: blue;
    text-decoration: underline;
}

.news {
    text-align: justify;
}

div#popup-window {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(255,255,255,0.95);
}

#popup-window .popup-header {
    width: 800px;
    height: 30px;
    margin: 100px auto 0 auto;
    background: gray;
}   

#popup-window .popup-content {
    margin: 0 auto;
    width: 800px;
    background: lightgray;
    min-height: 300px;
    padding: 0 20px 20px 20px;
}

.popup-close {
    color: #333;
    background: #777;
    font-size: 14px;
    padding: 5px 15px;
    float: right;
}

.popup-close:hover {
    cursor: pointer;
    color: #fff;
}

.popup-content h3 {
    color: #555;
    text-align: left;
}

.popup-content p {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

.popup-content .text-full {
    font-size: 14px;
    color: #555;
}

