footer
	div.content
		div.copyright Разработка: Владыкин Кирилл и Калашников Руслан 
			a(href="https://vk.com/id16718732") (https://vk.com/id16718732)
		div.design-info Дизайн разработан специально для "Оптимус" академии робототехники