footer
	div.content
		div.copyright Copyright 2016. Studio Kalashnickov All Rights Reserved.
		div.design-info Дизайн разработан специально для "Оптимус" академии робототехники Kalashnickov design studio 2016