title= 'Академия робототехники ОПТИМУС | ' + title
meta(charset="UTF-8")
meta(name="description", content="Академия робототехники Оптимус")
meta(http-equiv="content-language", content="ru")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

<!-- jquery -->
script(src="/lib/jquery/jquery-2.2.3.min.js")

link(rel="stylesheet", type="text/css", href="/css/main.css")