div.social-web
	div.sw-title Мы в социальных сетях:
	a(href="https://vk.com/optimusrnd", title="Мы ВКонтакте", target="_blank")
		div.sw-icon.i-vk
	a(href="https://ok.ru/group/58089947988016", title="Мы в Одноклассниках", target="_blank")
		div.sw-icon.i-ok
	a(href="https://www.facebook.com/groups/229923364107750/", title="Мы на Facebook", target="_blank")
		div.sw-icon.i-facebook