.navbar-default {
    background: gray;
    border: none;
}

.navbar-default .navbar-brand {
    padding: 12px 20px;
    font: bold 26px Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    color: yellow;
    text-shadow: none;
}

.left-col, .right-col {
    margin-top: 55px;
    float: left;
    margin-left: 4px;
}

.left-col {
    background: lightskyblue;
    width: 286px;
    margin-left: -10px;
}

.menu-col, .content {
    border: 1px solid #777;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    padding: 0 15px 15px 15px;
    font-size: 14px;
    color: #555;
}

.menu-col, .content {
    border: 1px solid #777;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    padding: 0 15px 15px 15px;
    font-size: 14px;
    color: #555;
}

.content h2 {
    font-size: 25px;
}

ul.main-menu li {
    padding: 5px 0;
    font-size: 16px;
}

ul.main-menu li:hover {
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}

ul.main-menu li.current {
    font-weight: bold;
}

ul.main-menu li.current:hover {
    text-decoration: none;
    font-style: normal;
    cursor: text;
}