.navbar-default {
    background: gray;
    border: none;
}

.navbar-default .navbar-brand {
    padding: 12px 20px;
    font: bold 26px Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    color: yellow;
    text-shadow: none;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: yellow;
    background-color: transparent;
}


.left-col, .right-col {
    margin-top: 55px;
    float: left;
    margin-left: 5px;
}

.left-col {
    background: lightskyblue;
    width: 300px;
    margin-left: 0;
}

.menu-col, .content, .login {
    border: 1px solid #777;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    padding: 0 15px 15px 15px;
    font-size: 14px;
    color: #555;
}

.login {
    width: 600px;
    min-height: 200px;
    margin: 0 auto;
    background: lightblue;
    color: #555;
}

.content {
    background: lightgray;
}

.content h2 {
    font-size: 25px;
}

ul.main-menu {
    margin: 15px 0 0 0;
    list-style-type: none;
}

ul.main-menu li {
    padding: 5px 0;
    font-size: 16px;
}

ul.main-menu li a {
    color: #333;
}

ul.main-menu li:hover {
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}

ul.main-menu li.current {
    font-weight: bold;
}

ul.main-menu li.current:hover {
    text-decoration: none;
    font-style: normal;
    cursor: text;
}

form {
    margin-top: 15px;
}


.message {
    margin: 10px 0;
    padding: 12px;
    font-size: 18px;
    text-align: center;
    display: none; 
    border-radius: 10px;
    color: #777;
}

.msg-success {
    background: lightgreen;
}

.msg-error {
    background: lightcoral;
}


.icon {
    float: left;
    margin-right: 3px;
    width: 36px;
    height: 36px;
    background: url(../../img/icons_36x36.png);
    cursor: pointer;
}

.icon:last-child {
    margin-right: 0;
}

.i-add {
    background-position: -150px 0;
}

.i-edit {
    background-position: -38px 0px;
}

.i-delete {
    background-position: -188px 0px;
}