

table.news-table {
    width: 100%;
    margin-top: 15px;
    vertical-align: top;
}

td.news-img {
    width: 240px;
    text-align: center;
}

td.news-content {
    padding-left: 10px;
    text-align: left;
    vertical-align: top;
}

td.news-img img {
    display: inline-block;
    max-width: 240px;
    max-height: 240px;
}

.news-content h2 {
    margin: 15px 0;
}

.news-content h2 span {
    font-size: 16px;
}

.published {
    color: green;
}

.not-published {
    color: red;
}

.control-row {
    height: 36px;
    margin: 10px;
}

.control-row {
    position: relative;
    height: 36px;
    margin: 10px;
}

#news-add {
    display: block;
    position: absolute;
    left: 46px;
    top: 7px;
    font-size: 16px;
}

ul.news-actions li:last-child {
    margin-right: 0;
}
ul.news-actions li {
    float: left;
    margin-right: 5px;
}
ul.news-actions {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.news-restore {
    display: none;
    text-align: center;
}

.news-restore a,
.news-restore a:link,
.news-restore a:hover,
.news-restore a:active,
.news-restore a:visited {
    cursor: pointer;
}