nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
	div.navbar-header
		button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse-main")
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		span.navbar-brand  
			span.part ОПТИМУС. Административная панель.