doctype
html(lang="ru")
	head
		title Академия робототехники ОПТИМУС | О нас
		meta(charset="UTF-8")
		meta(name="description", content="Академия робототехники Оптимус")
		meta(http-equiv="content-language", content="ru")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

		<!-- jquery -->
		script(src="/lib/jquery/jquery-2.2.3.min.js")
			
		<!-- bootstrap -->
		script(src="/lib/bootstrap/bootstrap.min.js")
		link(rel="stylesheet", type="text/css", href="/lib/bootstrap/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="/lib/bootstrap/bootstrap-theme.css")

		link(rel="stylesheet", type="text/css", href="/css/main.css")
		link(rel="stylesheet", type="text/css", href="/css/about.css")
		
	body
		div.container
			nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
				div.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse-main")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					span.navbar-brand  
						span.part1 Академия робототехники 
						span.part2 "ОПТИМУС" 
				div#navbar-collapse-main.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li
							a(href="/") ГЛАВНАЯ
						li
							a.current О НАС
						li
							a(href="news") НОВОСТИ
						li
							a(href="schedule") РАСПИСАНИЕ
						li
							a(href="prices") ЦЕНЫ	
						li
							a(href="contacts") КОНТАКТЫ
			div.about.content
				table
					tr
						td
							p
								img(src="/img/about/fight.jpg", align="left") 
								span.highlight2 Робототехника 
								| является одним из наиболее популярных направлений технического творчества, как профессиональной инженерной среды, так и образовательной. 
							p
								| Академия робототехники «ОПТИМУС», это новый проект, направленный на привлечение детей и подростков к научно-техническому творчеству в области робототехники. Формирование новых знаний, умений и компетенций в области инновационных технологий, механики и программирования. 
					tr
						td &nbsp;
					tr
						td
							p 
								span.highlight2 Концепция занятий 
								| в Академии состоит из следующих этапов: Установление взаимосвязей, Конструирование и Развитие. 
							p 
								span.highlight3 Установление взаимосвязей. 
								| При установлении взаимосвязей учащиеся как бы «накладывают» новые знания на те, которыми они уже обладают, расширяя, таким образом, свои познания. 
							p 
								span.highlight3 Конструирование. 
								| Учебный материал лучше всего усваивается тогда, когда мозг и руки «работают вместе». Работа с продуктами LEGO Education базируется на принципе практического обучения: сначала обдумывание, а затем создание моделей. 
							p 
								span.highlight3 Развитие. 
								| Процесс обучения всегда более приятен и эффективен, если есть стимулы. Поддержание такой мотивации и удовольствие, получаемое от успешно выполненной работы, естественным образом вдохновляют учащихся на дальнейшую творческую работу. 
					tr
						td
							p Занятия в академии делятся на три возрастные группы: 7-10 лет, 11-14 лет, 14-18 лет. Занятия в академии ведутся на базе наборов LEGO Education. 
							p 
								img(src="/img/about/wedo.jpg", align="right") 
								span.highlight2 Занятия для младших школьников 
								| проходят на базе конструкторов LEGO Education WeDo. Обучающе-игровая деятельность с WeDo полностью отвечает целевым ориентирам в воспитании ребенка, а именно: 
							ul
								li позволяет проявлять инициативность и самостоятельность; 
								li стимулирует социализацию ребенка; 
								li учит собирать модели по инструкции; 
								li развивает инженерные компетенции; 
								li знакомит с основами программирования; 
								li знакомит с основами программирования; 
								li обогащает воображение и творческие способности; 
								li знакомит детей с ролью цифровых технологий в нашей жизни; 
								li пробуждает естественную любознательность, тягу к исследовательской работе и получению знаний в сфере точных наук и других предметных областях. 
					tr
						td
							p
								img(src="/img/about/ev3.jpg", align="right") 
								span.highlight2 Занятия для старших школьников 
								| ведутся на базе конструкторов Lego Mindstorms EV3. Образовательная версия разработана специально для обучения детей в образовательных учреждениях робототехнике, а так же естественным наукам – физике, математике, информатике и конструированию. 
							p 
								| Робототехника развивает восемь типов 
								span.highlight2 научных 
								| и 
								span.highlight2 инженерных навыков: 
							ol
								li Постановка вопросов и формулировка задач. 
								li Использование моделей. 
								li Создание прототипов. 
								li Исследование.
								li Анализ и интерпретация данных. 
								li Использование компьютерного мышления. 
								li Участие в споре, основанном на объективных данных. 
								li Получение, оценка и передача информации. 
					tr
						td &nbsp;
					tr 
						td
							p 
							span.highlight2 Наша цель 
							| - пробудить естественную любознательность, привить любовь к школе и интерес к обучению. Мы помогаем воспитать успешных учащихся, которые не только эффективно усваивают предлагаемый материал, но и развивают множество необходимых в 21 веке навыков и компетенций. Соединение абстрактной теории с реальным миром. Мы ведем практико-ориентированных подход при проведении занятий. 
							p На занятиях в Академии «Оптимус» достигаются 4 основных цели; 
							ul 
								li Прививается положительное отношение к учебе; 
								li Развиваются навыки обучения учащихся; 
								li Повышается эффективность усвоения материала; 
								li Развиваются навыки командной работы. 
					tr
						td
							p 
								| Мы знаем, что 
								span.highlight2 развитие социальных навыков и умения сотрудничать 
								| в детстве крайне важно, как для успешного обучения детей в школе, так и для всей последующей их жизни. С учетом этого, мы стараемся совместить практические игровые методы обучения и групповые занятия, требующие развития коммуникативных и творческих компетенций у школьников.
					tr
						td
							img.photo(src="/img/about/success.jpg")
							img.photo(src="/img/about/communication.jpg")  
							img.photo(src="/img/about/elephant.jpg") 
					tr
						td(style="height:50px")
		include includes/analytics.pug