doctype
html(lang="ru")
	head
		include includes/admin_head_common.pug	
		script(src="/js/admin/news_all.js")
	body
		div.container-fluid
			include includes/admin_navbar.pug
			include includes/admin_menu_col.pug
			div.breadcrubms
				//- var i = 0
				//- var len = locals.breadcrumbs.length
				//each val in locals.breadcrumbs
					a(href=""+val.href)= val.title
					if i < len - 1 
						span /
					- i++
			div.right-col.content
				div.control-row
					div.icon.i-add
					a#news-add(href="/admin/news/create") Добавить новость
				each val in locals.news
					section.news-item(news-id='' + val.id)
						table.news-table
							tr
								td.news-img
									img(src="/img/no-photo-999.png")
								td.news-content
									h2= val.title
									if val.is_published
										span.published &nbsp;(опубликована)
									else 
										span.not-published &nbsp;(не опубликована)	
									ul.news-actions
										li
											div.news-edit.icon.i-edit
										li
											div.news-delete.icon.i-delete
									div.news-short-desc= val.text_short
					div.news-restore(news-restore-id='' + val.id) Новость удалена
						a Восстановить

				