doctype
html(lang="ru")
	head
		title 
		meta(charset="UTF-8")
		meta(name="description", content="Академия робототехники Оптимус")
		meta(http-equiv="content-language", content="ru")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

		<!-- jquery -->
		script(src="/lib/jquery/jquery-2.2.3.min.js")

		<!-- wysibb -->
		script(src="/lib/wysibb/jquery.wysibb.min.js")
		script(src="/lib/wysibb/lang/ru.js")
		link(rel="stylesheet", type="text/css", href="/lib/wysibb/wbbtheme.css")

		script(src="/js/bbtest.js")
	body
		div#content(style="margin: 100px")
			textarea#editor
			input(type="button", onclick="func()", value="get bbcode")
